<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>BTCC - Dashboard</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/admin/css/style.css" rel="stylesheet" />

<!-- Editor de texto -->
<script type="text/javascript" src="/lib/ckeditor/ckeditor.js"></script>
<script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>

</head>
<body>

	<header th:replace="admin/fragments/header :: cabecalho-admin">
		<div>header</div>
	</header>

	<div class="layout-main">
		<aside>
			<nav th:replace="admin/fragments/sidebar :: th-sidebar">
				<span>menu</span>
			</nav>
		</aside>

		<section class="container" layout:fragment="corpo">
			<div class="container" id="dashboard">
				<h2>Bem vindo <b th:inline="text" class="user">[[${#httpServletRequest.remoteUser}]]</b></h2>
				<p>Este é o painel administrativo do site da BTCC.</p>
			</div>
		</section>
	</div>

	<footer th:replace="admin/fragments/footer :: rodape">
		<div>footer</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var url = '';

		//Cria a url para realizar a requição quando o bottão "#ok_confirm" for ativado
		$('button[id*="btn_"]').click(function(){
			url = window.location.protocol + "//" + window.location.host + "/" + $(this).attr('id').split("_")[1];
		});
		
		$('#ok_confirm').click(function() {
			document.location.href = url;
		});

		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
		
	</script>
</body>
</html>