<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
<div layout:fragment="corpo">
<section class="banner-trabalhe-conosco">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img th:src="@{/files/banners/pessoa-empresa-vagas.png}" />
            </div>
            <div class="col-md-4 col-xs-12">
                <h2 class="text-center">VENHA TRABALHAR CONOSCO</h2>
            </div>
            <div class="col-md-4 col-xs-12 vagas">
                <a href="//btcc.referrals.selectminds.com/" class="btn-btcc hvr-pop">VAGAS DISPONÍVEIS</a>
                <div class="vagas-pcd">
                    <div class="col-md-10 col-xs-12">
                        <p class="vagas-pcd">TODAS AS VAGAS ESTÃO DISPONÍVEIS TAMBÉM PARA PCD.</p>
                    </div>
                    <div class="col-md-2 col-xs-12"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contato">
    <div class="container">
        <div class="row">
            <div class="col-12 title">
                Fale com a gente
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="image">
                    <div class="campogrande"><h3>Campo Grande, MS</h3></div>
                    <div class="address">
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a href="https://goo.gl/maps/hBmr7UaKNg12" target="_black">Rua Maracaju, nº 680, Centro.<br />CEP: 79002-212</a>
                        </div>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a href="https://goo.gl/maps/uB4BRTKxVbB2" target="_black">Rua Rui Barbosa, nº 3040, Centro.<br />CEP: 79002-369</a>
                        </div>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a href="https://goo.gl/maps/2rwwJPdGFc52" target="_black">Rua Santa Bárbara, nº 629-675, Vila Rica.<br />CEP: 79022-060</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="image">
                    <div class="curitiba"><h3>Curitiba, PR</h3></div>
                    <div class="address">
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a href="https://goo.gl/maps/YAT9Xbtw9Kx" target="_black">Travessa Teixeira de Freitas, nº 141, São Francisco.<br />CEP: 80410-040</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="image">
                    <div class="goiania"><h3>Goiânia, GO</h3></div>
                    <div class="address">
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i><a href="https://goo.gl/maps/wizVp5tLwdC2" target="_black">Alameda Moisés Santana, nº 156, Vila Redenção.<br /> CEP: 74850-130</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="image">
                    <div class="riodejaneiro"><h3>Rio de Janeiro, RJ</h3></div>
                    <div class="address">
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a href="https://goo.gl/maps/XQ6rSDV4UvS2" target="_black">Rua Hanibal Pôrto, nº 450, Irajá.<br />CEP: 21230-971</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contadores">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <p class="title text-center"><strong>POSIÇÕES DE ATENDIMENTO</strong></p>
                <p class="text-center">5.829 PA's</p>
            </div>
            <div class="col-md-4 col-xs-12 vertical-line">
                <i class="fa fa-users" aria-hidden="true"></i>
                <p class="title text-center"><strong>COLABORADORES</strong></p>
                <p class="text-center">Mais de 13 mil</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                <p class="title text-center"><strong>CHAMADAS RECEBIDAS</strong></p>
                <p class="text-center">3.676.327/mês</p>
            </div>
        </div>
</section>
</div>
</body>
</html>