<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
<div layout:fragment="corpo">
<section class="banner-trabalhe-conosco">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img th:src="@{/files/banners/pessoa-empresa-vagas.png}" />
            </div>
            <div class="col-md-4 col-xs-12">
                <h2 class="text-center">VENHA TRABALHAR CONOSCO</h2>
            </div>
            <div class="col-md-4 col-xs-12 vagas">
                <a href="//btcc.referrals.selectminds.com/" class="btn-btcc hvr-pop">VAGAS DISPONÍVEIS</a>
                <div class="vagas-pcd">
                    <div class="col-md-10 col-xs-12">
                        <p class="vagas-pcd">TODAS AS VAGAS ESTÃO DISPONÍVEIS TAMBÉM PARA PCD.</p>
                    </div>
                    <div class="col-md-2 col-xs-12"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="empresa">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <p class="title"><strong>Nossa Empresa</strong></p>
                <p>Em 2007, nasceu a BT Call Center, originária da antiga Brasil Telecom e atual empresa do Grupo Oi. A empresa, criada com o objetivo de melhorar a qualidade do atendimento prestado aos clientes, atua com filiais em Goiânia, Curitiba, Campo Grande e Rio de Janeiro, na região II do Brasil.</p>
                <p>Em janeiro de 2016, para demonstrar o acompanhamento às mudanças do mercado, a empresa atualizou seu posicionamento, lançando a sua nova identidade: BTCC Conexão Cliente. Afinal, mais do que simplesmente ser ouvido, o cliente quer estabelecer uma conexão, criar relacionamento, sentir-se parte e único.</p> 
                <p>Hoje nossa empresa já é reconhecida no mercado por seus serviços de excelência, conquistando, nos últimos 6 anos, mais de 100 prêmios, entre nacionais e internacionais.</p>
           		<p>E é claro que você faz parte dessa história!</p>
            </div>
            <div class="col-md-5 col-xs-12 box-valores">
                <p class="title"><strong>Nosso Propósito</strong></p>
                <p>Ser a melhor conexão entre o cliente e a solução.</p>
                <p class="title"><strong>Nossos Valores</strong></p>
                <p class="no-margin">CREDIBILIDADE: Uma conquista a cada interação, por meio de um diálogo verdadeiro.</p>
                <p class="no-margin">DETERMINAÇÃO: Atitude para transformar sonhos em realidade.</p>
                <p class="no-margin">RECONHECIMENTO: Engajar, desenvolver e motivar. Quando o colaborador cresce, a empresa cresce.</p>
                <p class="no-margin">QUALIDADE: Fazer o certo a primeira vez encantando em cada conexão.</p>
                <p class="no-margin">UNIÃO: Juntos geramos mais conexões.</p>
            </div>
        </div>
    </div>
</section>
<section id="frame-youtube">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/R7AuPLqlgSo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>            </div>
        </div>
        <div class="row quem-a-frente">
        <p class="title"><strong>QUEM ESTÁ À FRENTE</strong></p>
        <p class="responsavel">MÁRCIA POLLARD</p>
        <p class="departamento"><small>Diretoria Geral</small></p>
        <hr />
        <p class="responsavel">BRUNO FANTAGUZZI</p>
        <p class="departamento"><small>Diretoria de Estratégia de Negócio e Finanças</small></p>
        <p>É a área responsável pela definição e execução dos objetivos de negócio da companhia. Executa o planejamento estratégico, controle orçamentário e gera/publica os resultados de negócio, tanto operacionais quanto de qualidade. Dessa forma, identifica oportunidades de redução de custos e ganhos de produtividade, bem como, garante estabilidade financeira para a BTCC.</p>
        <hr />
        <p class="responsavel">FRANCISCO ALPENDRE</p>
        <p class="departamento"><small>Diretoria UN Negócios (Vendas)</small></p>
        <p>É a área responsável pela execução das vendas ativas e receptivas dos produtos Oi na BTCC. Assegura o cumprimento das estratégias de vendas da Oi, promovendo o envolvimento dos colaboradores para o alcance das metas definidas. Dessa maneira, colabora para o aumento de receita e garante a continuidade do modelo de negócio da companhia.</p>
       	<hr />
       	<p class="responsavel">KALLINA SODRÉ</p>
       	<p class="departamento"><small>Diretoria de Projetos e Melhoria Contínua</small></p>
       	<p>É a área responsável pela implantação dos projetos e processos que visam a melhoria dos indicadores operacionais, de produtividade e de qualidade da BTCC. Define estratégias e práticas, bem como, executa planos de ação com foco em melhoria contínua, assegurando a implementação dos melhores modelos de qualidade para o negócio da BTCC.</p>
        <hr />
        <p class="responsavel">LUCAS LEDRA</p>
        <p class="departamento"><small>Diretoria UN Atendimento e Retenção</small></p>
        <p>É a área responsável pelo atendimento ao cliente na BTCC. Assegura o cumprimento das estratégias de SAC e Retenção definidas pela Oi, promovendo o envolvimento dos colaboradores para o alcance das metas de receita e qualidade, o que garante a continuidade do modelo de negócio da companhia.</p>
        <hr />
        <p class="responsavel">MAILU CAROLINO</p>
        <p class="departamento"><small>Diretoria UN Atendimento B2B</small></p>
        <p>É a área responsável pelo atendimento ao cliente Corporativo e Empresarial na BTCC. Assegura o cumprimento das estratégias definidas pela Oi para estes segmentos, promovendo o envolvimento dos colaboradores para o alcance das metas de receita e qualidade, garantindo a continuidade do modelo de negócio da companhia.</p>
        <hr />
        <p class="responsavel">MARCELO BOARIN</p>
        <p class="departamento"><small>Diretoria de Tecnologia da Informação</small></p>
        <p>É a área responsável pela execução dos processos que envolvem tecnologia para obtenção,  armazenamento, acesso, gerenciamento e uso das informações da empresa, garantindo a estabilidade das aplicações e dos sistemas indispensáveis para o negócio da BTCC. Promove a melhoria dos resultados operacionais identificando oportunidades e implantando soluções tecnológicas de valor agregado à estratégia da companhia.</p>
        <hr />
        <p class="responsavel">RODRIGO DE ÁVILA</p>
        <p class="departamento"><small>Diretoria UN Atendimento Técnico</small></p>
        <p>É a área responsável pelo atendimento de suporte especializado ao cliente na BTCC. Esse atendimento engloba as operações de Suporte Técnico ao Cliente, bem como o atendimento aos técnicos de operações (instaladores, reparadores, etc.). Assegura o cumprimento das estratégias definidas pela Oi no que se refere às soluções de problemas técnicos dos clientes, promovendo o envolvimento dos colaboradores para o alcance das metas de receita e qualidade, o que garante a continuidade do modelo de negócio da companhia.</p>
         <hr />
        <p class="responsavel">TDB</p>
        <p class="departamento"><small>Diretoria de Gestão e Gente</small></p>
        <p>Responsável pelo mapeamento estratégico de gente e pela definição e execução de políticas, processos e práticas que garantam a continuidade do negócio, através de métodos de captação, atração e desenvolvimento de pessoas. Promove o bem-estar dos colaboradores, o fluxo de comunicação e o desenvolvimento da cultura organizacional, assegurando um ambiente propício para a realização das atividades e a conquista de resultados.</p>
        </div>
    </div>
</section>
<section id="premios" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 content">
                <p class="title"><strong>Prêmios</strong></p>
                <p>Nossa história soma mais de 100 prêmios, inclusive de entidades internacionais. E todo esse reconhecimento traduz o empenho de cada colaborador que compartilha do nosso propósito: ser a melhor conexão entre o cliente e a solução.</p>
            	<a href="/premios" class="btn-btcc btn-desktop hvr-pop">CONFIRA TODOS OS NOSSOS PRÊMIOS</a>
            	<a href="/premios" class="btn-btcc btn-mobile hvr-pop">NOSSOS PRÊMIOS</a>            	
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="imagem-premio">
                    <div><img src="/image/premio-cic-anatel.png" /></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contadores">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <p class="title text-center"><strong>POSIÇÕES DE ATENDIMENTO</strong></p>
                <p class="text-center">5.829 PA's</p>
            </div>
            <div class="col-md-4 col-xs-12 vertical-line">
                <i class="fa fa-users" aria-hidden="true"></i>
                <p class="title text-center"><strong>COLABORADORES</strong></p>
                <p class="text-center">Mais de 13 mil</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                <p class="title text-center"><strong>CHAMADAS RECEBIDAS</strong></p>
                <p class="text-center">3.676.327/mês</p>
            </div>
        </div>
</section>
</div>
</body>
</html>