<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<footer th:fragment="rodape">
    <div class="footer container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <img src="/image/btcc-logo.png" />
            </div>
            <div class="col-md-6 col-xs-12">
                <p class="text-center">Copyright &copy; 2017 BTCC Conex&atilde;o Cliente. All rights reserved.</p>
            </div>
            <div class="col-md-3 col-xs-12 social pull-right">
                <a title="facebook" class="facebook hvr-pop" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a title="instagram" class="instagram hvr-pop" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a title="youtube" class="youtube hvr-pop" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a title="linkedin" class="linkedin hvr-pop" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>