<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<header th:fragment="cabecalho-site(activeTab)">
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="/image/btcc-logo.png" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a th:class="${activeTab == 'home'}? 'active nav-link' : nav-link" href="/">HOME</a></li><span>|</span>
                                <li class="nav-item"><a th:class="${activeTab == 'empresa'}? 'active nav-link' : nav-link" href="/empresa">EMPRESA</a></li><span>|</span>
                                <li class="nav-item"><a th:class="${activeTab == 'premios'}? 'active nav-link' : nav-link" href="/premios">PR&Ecirc;MIOS</a></li><span>|</span>
                                <li class="nav-item"><a class="nav-link" href="//btcc.referrals.selectminds.com/" target="_blank">VAGAS</a></li><span>|</span>
                                <li class="nav-item"><a class="nav-link" href="//intranet.btcc.net.br" target="_blank">INTRANET</a></li><span>|</span>
<!--                                 <li class="nav-item"><a th:class="${activeTab == 'noticias'}? 'active nav-link' : nav-link" href="/noticias">NOT&Iacute;CIAS</a></li><span>|</span> -->
                                <li class="nav-item"><a th:class="${activeTab == 'contato'}? 'active nav-link' : nav-link" href="/contato">CONTATO</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>