<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
<div layout:fragment="corpo">
<section class="banner-trabalhe-conosco">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img src="/uploads/site/imagens/pessoa-empresa-vagas.png" />
            </div>
            <div class="col-md-4 col-xs-12">
                <h2 class="text-center">VENHA TRABALHAR CONOSCO</h2>
            </div>
            <div class="col-md-4 col-xs-12 vagas">
                <a href="//btcc.referrals.selectminds.com/" class="btn-btcc hvr-pop">VAGAS DISPONÍVEIS</a>
                <div class="vagas-pcd">
                    <div class="col-md-10 col-xs-12">
                        <p class="vagas-pcd">TODAS AS VAGAS ESTÃO DISPONÍVEIS TAMBÉM PARA PCD.</p>
                    </div>
                    <div class="col-md-2 col-xs-12"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="page-premios">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="title">
                    <p>Prêmios</p>
                </div>
                <div class="content">
                    <p>Consquistamos mais de 86 prêmios como os prêmios: Prêmio ABT, Personalidades ClienteSA, Prêmio Nacional de Telesserviços, Prêmio Internacional LATAM e Internacional CCW.</p>
                    <p>E todo esse suscesso é uma conquista de cada colaborador, porque fazer parte da BTCC Conexão Cliente é saber ouvir, oferecendo todos os dias um trabalho marcado pela eficiência e pela qualidade, tudo isso em prol de quem mais importa: o cliente. Aqui nos Apoderamos do Problema e, claro, Solucionamos, pois acreditamos que o cliente é o termômetro que move o nosso negócio. <strong>Faça parte você também da nossa história de sucesso, venha trabalhar conosco!</strong></p>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 premios">
                <div class="premio">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-sm-5">
                            <div class="image">
                                <img src="/image/trofeu-2012-2013.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7 col-sm-7">
                            <p class="data">2012/2013</p>
                            <p class="qtd-premios">17 Prêmios</p>
                            <ul>
                                <li>Selo Milton Gonçalves</li>
                                <li>Prêmio ABT</li>
                                <li>Prêmio SMART</li>
                                <li>Prêmio Ser Humano ABRH GO Cliente S.A.</li>
                                <li>Prêmio PNT</li>
                                <li>Prêmio CIC - Personalidade: Márcia Pollard</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="line"></span>
                <div class="premio">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-sm-5">
                            <div class="image">
                                <img src="/image/trofeu-2014.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7 col-sm-7">
                            <p class="data">2014</p>
                            <p class="qtd-premios">46 Prêmios</p>
                            <ul>
                                <li>Prêmio ABT</li>
                                <li>Prêmio SMART - Profissional SMART: Márcia Pollard</li>
                                <li>Prêmio CIC</li>
                                <li>Prêmio PEC</li>
                                <li>Prêmio Ser Humano ABRH GO</li>
                                <li>Cliente S/A</li>
                                <li>Prêmio PNT</li>
                                <li>Prêmio CCW (Internacional)</li>
                                <li>Prêmaio L&P Brasil</li>
                                <li>Homenagem Aprendiz Legal</li>
                                <li>Selo ViraVida</li>
                                <li>Prêmio TOP Marketing</li>
                                <li>Prêmio ABERJE</li>
                                <li>Prêmio LATAM (Internacional)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="line"></span>
                <div class="premio">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-sm-5">
                            <div class="image">
                                <img src="/image/trofeu-2015-2016.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7 col-sm-7">
                            <p class="data">2015/2016</p>
                            <p class="qtd-premios">25 Prêmios</p>
                            <ul>
                                <li>Prêmio ABT</li>
                                <li>Prêmio ABT - Executiva do ANO: Márcia Pollard</li>
                                <li>Prêmio SMART - Empresa SMART</li>
                                <li>Prêmio CIC</li>
                                <li>Prêmio Ser Humano DF</li>
                                <li>Prêmio Ser Humano ABRH GO</li>
                                <li>Selo ViraVida</li>
                                <li>Prêmio LATAM (Internacional)</li>
                                <li>Prêmio ABT 2016</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="line"></span>
                <div class="premio">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-sm-5">
                            <div class="image">
                                <img src="/image/trofeu-2017.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7 col-sm-7">
                            <p class="data">2017</p>
                            <p class="qtd-premios">8 Prêmios</p>
                            <ul>
                                <li>5 Troféus no Prêmio Ser Humano - ABRH GO</li>
                                <li>Prêmio Best Performance 2017</li>
                                <li>2 Prêmios em Gestão de Qualidade XVII Prêmio ABT</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>