<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>BTCC - Conexão Cliente</title>

<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Font Aewsome -->
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<!-- Hover -->
<link href="/css/hover.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

</head>
<body>
	<section id="not-found">
		<div class="container">
			<div class="jumbotron">
				<div class="text-center">
					<i class="fa fa-5x fa-frown-o" style="color: #d9534f;"></i>
				</div>
				<h1 class="text-center">
					404 Not Found
					<p></p>
					<p>
						<small class="text-center"> Parece que esse link não existe</small>
					</p>
				</h1>
				<p class="text-center">Volte para a página inicial do site clicando no botão abaixo!</p>
				<p class="text-center">
					<a href="/" class="btn-btcc hvr-pop">Voltar para Home</a>
				</p>
			</div>
		</div>
	</section>
</body>
</html>