<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>BTCC - Conex&atilde;o Cliente - 404</title>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Font Aewsome -->
<link href="/webjars/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />

<!-- Hover -->
<link href="/css/hover.min.css" rel="stylesheet" />

<!-- Slick -->
<link href="/webjars/slick/slick.css" rel="stylesheet" />
<link href="/webjars/slick/slick-theme.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<section id="notfound">
		<div class="row">
			<div class="container">
				<div class="col-md-12 col-xs-12">
					<h2 class="text-center">Ops! Não encontramos o que você está
						procurando!</h2>
					<h1 class="text-center">404</h1>
				</div>
				<p class="text-center back-home">
					<a href="/" th:href="@{/}" class="btn btn-btcc hvr-grow"><i class="fa fa-arrow-left"
						aria-hidden="true"></i> Ir para página inicial</a>
				</p>
			</div>
		</div>
	</section>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/slick/slick.min.js"></script>
	<!-- 	Custom Script -->
	<script src="/js/script.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>